{% extends 'base.html.twig' %}

{% block title %}holik07{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{% block navigation %}
    <ul class="nav navbar-nav">
    <li class="nav-item">
        <a class="nav-link btn btn-primary text-danger" href="{{ path("text") }}">text</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-danger text-primary" href="{{ path("poslipolevpoli") }}">poslipolevpoli</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-danger text-success" href="{{ path("poslipole") }}">poslipole</a>
    </li>
    </ul>
    {% endblock %}

{% block content %}



    {% if text is defined %}
        <h1>holik07</h1>
        <h1>Text in Uppercase</h1>
        <p>{{ text }}</p>
        <h1>Text in Lowercase</h1>
        <p>{{ text|lower }}</p>
    {% endif %}


    {% if data is defined %}
        <h1>Pole s hodnotami</h1>
        <ul>
            {% for key, value in data %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if people is defined %}
        <h1 class="zelena">People</h1>
        <ul>
            {% for person in people %}
                <li class="{{ cycle(['licha', 'suda'], loop.index0) }}">{{ person.jmeno }} {{ person.prijmeni }}</li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}
