{# templates/registration/register.html.twig #} {% extends 'base.html.twig' %}
{% block title %}Registrace - Mordor{% endblock %} {% block content %}

<h2>Registrace</h2>

{{ form_start(registrationForm, {'attr': {'class': 'mt-4'}}) }}

<div class="form-flex">
    <div class="form-group mb-4">
        {{ form_label(registrationForm.jmeno) }}
        {{ form_widget(registrationForm.jmeno, {'attr': {'class': 'form-control'


        }}) }}
        {{ form_errors(registrationForm.jmeno) }}
    </div>
    <div class="form-group mb-4">
        {{ form_label(registrationForm.prijmeni) }}
        {{ form_widget(registrationForm.prijmeni, {'attr': {'class': 'form-control'


        }}) }}
        {{ form_errors(registrationForm.prijmeni) }}
    </div>
</div>

<div class="form-flex">
    <div class="form-group mb-4">
        {{ form_label(registrationForm.datum_narozeni) }}
        {{ form_widget(registrationForm.datum_narozeni, {'attr': {'class': 'form-control'


        }}) }}
        {{ form_errors(registrationForm.datum_narozeni) }}
    </div>

    <div class="form-group mb-4">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'


        }}) }}
        {{ form_errors(registrationForm.email) }}
    </div>
</div>

<div class="form-flex">
    <div class="form-group mb-4">
        {{ form_label(registrationForm.heslo.first) }}
        {{ form_widget(registrationForm.heslo.first, {'attr': {'class': 'form-control'


        }}) }}
        {{ form_errors(registrationForm.heslo.first) }}
    </div>

    <div class="form-group mb-4">
        {{ form_label(registrationForm.heslo.second) }}
        {{ form_widget(registrationForm.heslo.second, {'attr': {'class': 'form-control'


        }}) }}
        {{ form_errors(registrationForm.heslo.second) }}
    </div>
</div>

<div class="form-flex">
    <button type="submit" class="btn btn-primary">
        {{ "Registrovat se" | trans }}
    </button>

    <!-- Optional: Link to Log in if you have one -->
    <a href="{{ path('app_login') }}" class="btn btn-primary">
        {{ "Přihlásit se" | trans }}
    </a>
</div>

{{ form_end(registrationForm) }}
{% endblock %}
