{% extends 'base.html.twig' %}

{% block title %}Recenze{% endblock %}

{% block content %}
    <h1>Recenze</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th>Datum recenze</th>
                <td>{{ review.reviewer }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ review.text }}</td>
            </tr>
            <tr>
                <th>Aktualnost</th>
                <td>{{ review.topicality }}</td>
            </tr>
            <tr>
                <th>Originalita</th>
                <td>{{ review.originality }}</td>
            </tr>
            <tr>
                <th>Odborní úrověň</th>
                <td>{{ review.expertiseLevel }}</td>
            </tr>
            <tr>
                <th>Stylistická úrověň</th>
                <td>{{ review.stylisticsLevel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_review_index') }}">back to list</a>

    <a href="{{ path('app_review_edit', {'id': review.id}) }}">edit</a>

    {{ include('review/_delete_form.html.twig') }}
{% endblock %}
