{% extends 'base.html.twig' %}

{% block title %}Příspěvek{% endblock %}

{% block content %}
    <h1>Příspěvek</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prispevek.id }}</td>
            </tr>
            <tr>
                <th>Datum vytvoření</th>
                <td>{{ prispevek.DatumVytvoreni ? prispevek.DatumVytvoreni|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tématika</th>
                <td>{{ prispevek.Tematika }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prispevek_index') }}">Zpět</a>

    <a href="{{ path('app_prispevek_edit', {'id': prispevek.id}) }}">Editovat</a>

    {{ include('prispevek/_delete_form.html.twig') }}
{% endblock %}
