{% extends 'base.html.twig' %}

{% block title %}Redaktor{% endblock %}

{% block content %}
    <h1>Články</h1>

    <h3 class="mt-5">Seznam článků bez stavu</h3>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Název</th>
            <th>Autor</th>
            <th onclick="sortTable('articleStatus', 1)">Status</th>
            <th>Náhled</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            {% if article.getStatus() is same as(null) %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.getTitle() }}</td>
            <td>{{ article.getPost().getAuthor() }}</td>
            <td>{% if article.getStatus() %}{{ article.getStatus() }}{% else %}-{% endif %}</td>
            <td>{{ article.getFilePath() }}</td>
            <td>
                <form method="post" action="{{ path('status', {'id': article.id, 'status': 'Schváleno'}) }}">
                    <button class="btn btn-success m-1" type="submit">Schválit</button>
                </form>
                <form method="post" action="{{ path('status', {'id': article.id, 'status': 'Odmítnuto'}) }}">
                    <button class="btn btn-danger m-1" type="submit">Odmítnout</button>
                </form>
            </td>
        </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">Záznamy nenalezeny</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 class="mt-5">Seznam článků se stavem</h3>
    <table class="table" id="articleStatus">
        <thead>
        <tr>
            <th>id</th>
            <th>Název</th>
            <th>Autor</th>
            <th onclick="sortTable('articleStatus', 1)">Status</th>
            <th>Náhled</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            {% if article.getStatus() %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.getTitle() }}</td>
                <td>{{ article.getPost().getAuthor() }}</td>
                <td>{% if article.getStatus() %}{{ article.getStatus() }}{% else %}-{% endif %}</td>
                <td>{{ article.getFilePath() }}</td>
                <td>
                    <a href="{{ path('select_reviewer', {'reviewer_id': article.id}) }}">Požadavka na recenzi</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">Záznamy nenalezeny</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- JavaScript pre sortovanie -->
    <script>
        function sortTable(tableId, columnIndex) {
            var table = document.getElementById(tableId);
            var tbody = table.getElementsByTagName('tbody')[0];
            var rows = tbody.getElementsByTagName('tr');

            // Prevod HTMLCollection na pole pre jednoduchšie manipulácie
            rows = Array.prototype.slice.call(rows);

            // Získanie aktuálneho poradia triedenia z atribútu data-sort-order
            var sortOrder = table.getAttribute('data-sort-order') || 'asc';

            rows.sort(function(a, b) {
                var aValue = a.getElementsByTagName('td')[columnIndex].textContent || a.getElementsByTagName('td')[columnIndex].innerText;
                var bValue = b.getElementsByTagName('td')[columnIndex].textContent || b.getElementsByTagName('td')[columnIndex].innerText;

                // Podľa aktuálneho poradia triedenia zmeníme poradie hodnôt
                var result = sortOrder === 'asc' ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);

                return result;
            });

            // Odstránenie existujúcich riadkov z tabuľky
            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
            }

            // Pridanie zoradených riadkov naspäť do tabuľky
            for (var i = 0; i < rows.length; i++) {
                tbody.appendChild(rows[i]);
            }

            // Zmena aktuálneho poradia triedenia
            table.setAttribute('data-sort-order', sortOrder === 'asc' ? 'desc' : 'asc');
        }
    </script>
{% endblock %}


