<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Default Title{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container__main">
            <aside>
                <header>
                    <h1 class="heading">
                        <strong>Mordor</strong><span>Časopis VŠPJ</span>
                    </h1>
                </header>
                {% block user %}
                <!-- Přihlášený uživatel -->
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logged in as {{ app.user.jmeno }}</a>
                        </li>

                        <li>
                        Roles
                            <div>
                                {% for role in app.user.roles %}
                                    {% if role == 'ROLE_ADMIN' %}
                                        <a class="dropdown-item" href="/admin">{{ role }}</a>
                                    {% elseif role == 'ROLE_AUTOR' %}
                                        <a class="dropdown-item" href="/autor">{{ role }}</a>
                                    {% elseif role == 'ROLE_RECENZENT' %}
                                        <a class="dropdown-item" href="/recenzent">{{ role }}</a>
                                    {% elseif role == 'ROLE_REDAKTOR' %}
                                        <a class="dropdown-item" href="/redaktor">{{ role }}</a>
                                    {% elseif role == 'ROLE_SEFREDAKTOR' %}
                                        <a class="dropdown-item" href="/sefredaktor">{{ role }}</a>
                                    {% else %}
                                        <a class="dropdown-item" href="#">{{ role }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>

                        <li>
                            <a  href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <div>
                            <a  href="{{ path('app_login') }}">Login</a>
                        </div>
                    {% endif %}

                {% endblock %} {% block navbar %}
                <!-- Odkazy na články, přihlášení, atd. -->
                {% endblock %}
            </aside>
            <div class="wrapper">
                <div class="statement">
                    <p>
                        Tato aplikace je výsledkem školního projektu v kurzu
                        Řízení SW projektů na Vysoké škole polytechnické
                        Jihlava.
                        <br />
                        Nejedná se o stránky skutečného odborného časopisu!
                    </p>
                </div>
                <main>
                    {% block content %}
                    <!-- Jedinečný obsah pro každou stránku -->
                    {% endblock %}
                </main>
                <footer class="footer">
                    <div class="footer__left">Mordor</div>
                    <div class="footer__right">
                        &copy; 2023 | All rights reserved.
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
