{% extends 'base.html.twig' %}

{% block title %}Všechny příspěvky{% endblock %}

{% block content %}
    <h1>Všechny příspěvky</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datum vytvoření</th>
                <th>Tématika</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.topics }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">Zobrazit detaily</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">Upravit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Záznamy nenalezeny</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}">Nový příspěvek</a>
{% endblock %}
