{% extends 'base.html.twig' %}

{% block title %}Všechny příspěvky{% endblock %}

{% block content %}
    <h1>Všechny příspěvky</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datum vytvoření</th>
                <th>Tématika</th>
                <th>Autor</th>
                <th>Stáhnout</th>

            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('d.m.Y H:i') : '' }}</td>
                <td>{{ post.topics }}</td>
                <td>{{ post.author }}</td>
                <td>
                {% if post.postDocName %}
                    <a href="{{ asset('uploads/post_docs/' ~ post.postDocName) }}" download>Stáhnout Dokument</a>


                {% else %}
                    Žádný dokument
                {% endif %}
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Záznamy nenalezeny</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
