{% extends 'base.html.twig' %}

{% block title %}Příspěvek{% endblock %}

{% block content %}
    <h1>Příspěvek</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Datum vytvoření</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tematika</th>
                <td>{{ post.topics }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_index') }}">back to list</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('Post/_delete_form.html.twig') }}
{% endblock %}
