{% extends 'base.html.twig' %}

{% block title %}Uživatel{% endblock %}

{% block content %}
    <div class="container mt-4 edit-container">
        <h1>Uživatel</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Jméno</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Příjmení</th>
                    <td>{{ user.surname }}</td>
                </tr>
                <tr>
                    <th>Datum narození</th>
                    <td>{{ user.birthdate ? user.birthdate|date('d.m.Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>

                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>
                            {% for role in user.roles %}
                                {{ role }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}

            </tbody>
        </table>

        <a class="btn btn-secondary mt-3" href="{{ path('app_admin') }}">Zpět na Dashboard</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary mt-3" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>

            {{ include('User/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
