{% extends 'base.html.twig' %}

{% block title %}Osoba index{% endblock %}

{% block content %}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Datum_narození</th>
                <th>Email</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Heslo</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for osoba in osobas %}
            <tr>
                <td>{{ osoba.id }}</td>
                <td>{{ osoba.jmeno }}</td>
                <td>{{ osoba.prijmeni }}</td>
                <td>{{ osoba.datumNarozeni ? osoba.datumNarozeni|date('Y-m-d') : '' }}</td>
                <td>{{ osoba.email }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ osoba.heslo }}</td>
                {% endif %}
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_osoba_show', {'id': osoba.id}) }}">Show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-warning btn-sm" href="{{ path('app_osoba_edit', {'id': osoba.id}) }}">Editovat</a>
                        {{ include('osoba/_delete_form_inline.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Záznam nebyl nalezen!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('app_osoba_new') }}">Vytvořit</a>
    {% endif %}
{% endblock %}
