{% block navbar %}
<nav
    class="navbar navbar-expand-lg navbar-light bg-light px-3 justify-content-between"
>
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_osoba_index') }}"
            >Správa osob</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto pr-3">
                {# Added pr-3 for padding on the right #} {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="#"
                        >Logged in as {{ app.user.jmeno }}</a
                    >
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownRoles"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Roles
                    </a>
                    <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownRoles"
                    >
                        {% for role in app.user.roles %}
                        <a class="dropdown-item" href="#">{{ role }}</a>
                        {# Assuming your Role entity has a __toString method #}
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"
                        >Logout</a
                    >
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
