{% extends 'base.html.twig' %}

{% block title %}Osoba{% endblock %}

{% block content %}
    <div class="container mt-4 edit-container">
        <h1>Osoba</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ osoba.id }}</td>
                </tr>
                <tr>
                    <th>Jméno</th>
                    <td>{{ osoba.jmeno }}</td>
                </tr>
                <tr>
                    <th>Příjmení</th>
                    <td>{{ osoba.prijmeni }}</td>
                </tr>
                <tr>
                    <th>Datum narození</th>
                    <td>{{ osoba.datumNarozeni ? osoba.datumNarozeni|date('d.m.Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ osoba.email }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>
                            {% for role in osoba.roles %}
                                {{ role }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}

            </tbody>
        </table>

        <a class="btn btn-secondary mt-3" href="{{ path('app_admin') }}">Zpět na Dashboard</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary mt-3" href="{{ path('app_osoba_edit', {'id': osoba.id}) }}">Edit</a>

            {{ include('Osoba/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
